body{
  margin: 0;
  background-color:aqua ;
  font-family:'Montserrat', sans-serif;
}
.row{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
span{
  float: right;
}
.container.head{
  margin: 10px;
}h1{
  margin: 0;
  text-align: left;
  color: black;
  background-color:white;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}
ul{
  padding-left: 0;
}
.line{
  border-left: yellow solid 5px;
  border-right: yellow solid 5px;
  padding:0 10px;
}
p{
  font-family: 'Montserrat', sans-serif;
  color: crimson;
  font-weight: bold;
}
ul{
  color: blue;
  font-weight: bold;
}
footer{
  text-align: center;
  background-color: black;
  height: 50px;
  width: 100%;
  position:fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}